name: format

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install black and isort
        run: pip install black isort

      - name: Run black
        run: black . --check --verbose --diff --color --exclude="/*.ipynb/"

      - name: Run isort
        run: isort . --check --diff --profile black

      - name: flake8 lint
        uses: py-actions/flake8@v2
        with:
          max-line-length: "88"
          plugins: "flake8-bugbear"
